In [947]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [948]:
'''from geopy.geocoders import Nominatim

# Initialize the geocoder
geolocator = Nominatim(user_agent="my_geocoder")

# Address to geocode
address = "New York City, NY"

# Geocode the address
location = geolocator.geocode(address)

# Print latitude and longitude
print("Latitude:", location.latitude)
print("Longitude:", location.longitude)'''

'from geopy.geocoders import Nominatim\n\n# Initialize the geocoder\ngeolocator = Nominatim(user_agent="my_geocoder")\n\n# Address to geocode\naddress = "New York City, NY"\n\n# Geocode the address\nlocation = geolocator.geocode(address)\n\n# Print latitude and longitude\nprint("Latitude:", location.latitude)\nprint("Longitude:", location.longitude)'

In [949]:
def text_file_content(file_path):
    with open(file_path, 'r') as file:
        content = file.read().splitlines()
    return content

# Example usage:
file_path = 'nyc_rentals_ret.txt'  # Replace with the path to your actual text file
lines_text = (text_file_content(file_path))
#print((lines_text))

In [950]:
print([i+1 for i in range(5)])

[1, 2, 3, 4, 5]

In [951]:

# Create a DataFrame
labels = ['Address', 'City and ZIP', 'Year Built', 'SF', 'Price']

In [952]:
def extract_info(text_lines):
    var_list = []
    for j in range(1,6):
        var_list.append([text_lines[i] for i in range(j,len(text_lines), 6)]) 
    return var_list

sublists_vals = (extract_info(lines_text))

In [953]:
df = pd.DataFrame(sublists_vals, index=labels).T
df

,Address,City and ZIP,Year Built,SF,Price
0,2586 Linden Blvd,"Brooklyn, NY, 11208",Built in 2015,"8,500 SF Retail Space",$48.00 SF/YR
1,103 Macdougal St,"New York, NY, 10012",Built in 1900,"5,000 - 12,000 SF Retail Spaces",$120.00 SF/YR
2,336 W 23rd St,"New York, NY, 10011",Built in 1910,"2,000 - 6,200 SF Retail Spaces",48.00 - $49.00 SF/YR
3,1 Wall Street,"New York, NY, 10005",Built in 1904,"5,000 - 12,500 SF Retail Spaces",84.00 - $88.00 SF/YR
4,31 W 21st St,"New York, NY, 10010",Built in 1908,"9,000 SF Retail Spaces",$115.00 SF/YR
...,...,...,...,...,...
506,625-649 Eighth Ave,"New York, NY, 10018",Built in 1950,"196 - 29,905 SF Retail Spaces",none
507,4473 Amboy Rd,"Staten Island, NY, 10312",Built in 2022,"2,000 - 15,000 SF Retail Space",none
508,143 Fulton St,"New York, NY, 10038",Built in 2018,"570 - 8,444 SF Retail Spaces",none
509,768 5th Ave,"New York, NY, 10019",Built in 1907,"440 - 32,940 SF Retail Spaces",none
510,413 W 14th St,"New York, NY, 10014",Built in 1929,"1,519 - 23,215 SF Retail Spaces",none

In [954]:
list(df.Price)

['$48.00 SF/YR',
 '$120.00 SF/YR',
 '48.00 - $49.00 SF/YR',
 '84.00 - $88.00 SF/YR',
 '$115.00 SF/YR',
 '$250.00 SF/YR',
 '$76.50 SF/YR',
 '$29.00 SF/YR',
 '$19.68 SF/YR',
 '35.00 - $40.00 SF/YR',
 '$22.00 SF/YR',
 '110.00 - $200.00 SF/YR',
 '$30.00 SF/YR',
 '$55.00 SF/YR',
 '36.00 - $60.00 SF/YR',
 '$30.00 SF/YR',
 '$56.25 SF/YR',
 '$175.00 SF/YR',
 '$40.00 SF/YR',
 '$51.00 SF/YR',
 '$25.00 - $45.00 SF/YR',
 '$70.00 SF/YR',
 '75.00 - $150.00 SF/YR',
 '$180.00 SF/YR',
 '$85.00 SF/YR',
 '$50.00 SF/YR',
 '$150.00 SF/YR',
 '$30.00 - $32.00 SF/YR',
 '$60.00 SF/YR',
 '$30.55 - $150.00 SF/YR',
 '$40.75 - $155.00 SF/YR',
 '$38.00 SF/YR',
 '36.00 - $47.24 SF/YR',
 '$45.00 SF/YR',
 '$105.00 SF/YR',
 '$16.26 SF/YR',
 '$53.60 SF/YR',
 '$65.00 SF/YR',
 '$40.00 - $50.00 SF/YR',
 '$25.00 SF/YR',
 '$60.00 - $75.00 SF/YR',
 '$44.00 SF/YR',
 '50.00 - $150.00 SF/YR',
 '$45.00 SF/YR',
 '$55.00 SF/YR',
 '$50.00 SF/YR',
 '$35.00 SF/YR',
 '$28.00 SF/YR',
 '$50.00 SF/YR',
 '$34.00 - $60.00 SF/YR',
 '$42.50 SF/YR',
 '$62.00 SF/YR',
 '$45.00 SF/YR',
 '$30.00 SF/YR',
 '$115.00 SF/YR',
 '$45.00 SF/YR',
 '$55.00 SF/YR',
 '$69.00 SF/YR',
 '$35.00 - $125.00 SF/YR',
 '$40.00 - $51.00 SF/YR',
 '$40.00 SF/YR',
 '$40.00 SF/YR',
 '$35.00 - $86.40 SF/YR',
 '$48.00 SF/YR',
 '$185.00 SF/YR',
 '$35.00 SF/YR',
 '$22.00 SF/YR',
 '$33.00 SF/YR',
 '$40.00 SF/YR',
 '$32.00 SF/YR',
 '$40.00 SF/YR',
 '$41.88 SF/YR',
 '$35.00 - $45.00 SF/YR',
 '$30.00 SF/YR',
 '$70.00 SF/YR',
 '$120.00 SF/YR',
 '$35.00 SF/YR',
 '$30.00 SF/YR',
 '$30.00 - $45.00 SF/YR',
 '$150.00 SF/YR',
 '$40.00 SF/YR',
 '$40.00 SF/YR',
 '$20.00 - $36.00 SF/YR',
 '$29.50 SF/YR',
 '$62.00 SF/YR',
 '$66.21 SF/YR',
 '$77.00 - $115.00 SF/YR',
 '$38.00 SF/YR',
 '$150.00 SF/YR',
 '$29.00 - $49.00 SF/YR',
 '$60.00 SF/YR',
 '$55.00 SF/YR',
 '$128.33 SF/YR',
 '$50.00 - $207.91 SF/YR',
 '$35.00 SF/YR',
 '$45.00 SF/YR',
 '$59.00 SF/YR',
 '$45.00 SF/YR',
 '$30.00 - $35.00 SF/YR',
 '$27.00 - $51.00 SF/YR',
 '$42.50 SF/YR',
 '$62.00 SF/YR',
 '$45.00 SF/YR',
 '$30.00 SF/YR',
 '$115.00 SF/YR',
 '$45.00 SF/YR',
 '$55.00 SF/YR',
 '$69.00 SF/YR',
 '$35.00 - $125.00 SF/YR',
 '$40.00 - $51.00 SF/YR',
 '$40.00 SF/YR',
 '$40.00 SF/YR',
 '$35.00 - $86.40 SF/YR',
 '$48.00 SF/YR',
 '$185.00 SF/YR',
 '$35.00 SF/YR',
 '$22.00 SF/YR',
 '$33.00 SF/YR',
 '$40.00 SF/YR',
 '$32.00 SF/YR',
 '$40.00 SF/YR',
 '$41.88 SF/YR',
 '$35.00 - $45.00 SF/YR',
 '$30.00 SF/YR',
 '$70.00 SF/YR',
 '$120.00 SF/YR',
 '$35.00 SF/YR',
 '$30.00 SF/YR',
 '$30.00 - $45.00 SF/YR',
 '$150.00 SF/YR',
 '$40.00 SF/YR',
 '$40.00 SF/YR',
 '$20.00 - $36.00 SF/YR',
 '$29.50 SF/YR',
 '$62.00 SF/YR',
 '$66.21 SF/YR',
 '$77.00 - $115.00 SF/YR',
 '$38.00 SF/YR',
 '$150.00 SF/YR',
 '$29.00 - $49.00 SF/YR',
 '$60.00 SF/YR',
 '$55.00 SF/YR',
 '$128.33 SF/YR',
 '$50.00 - $207.91 SF/YR',
 '$35.00 SF/YR',
 '$45.00 SF/YR',
 '$59.00 SF/YR',
 '$45.00 SF/YR',
 '$30.00 - $35.00 SF/YR',
 '$27.00 - $51.00 SF/YR',
 '$50.00 SF/YR',
 '$45.00 SF/YR',
 '$54.55 - $180.00 SF/YR',
 '$45.00 - $100.00 SF/YR',
 '$40.00 SF/YR',
 '$53.03 - $61.68 SF/YR',
 '$25.00 - $150.24 SF/YR',
 '$25.00 - $197.52 SF/YR',
 '$50.00 SF/YR',
 '$60.00 SF/YR',
 '$75.00 - $90.00 SF/YR',
 '$40.00 SF/YR',
 '$38.00 SF/YR',
 '$57.79 SF/YR',
 '$97.19 SF/YR',
 '$60.00 - $75.00 SF/YR',
 '$54.00 SF/YR',
 '$65.37 - $68.94 SF/YR',
 '$60.00 SF/YR',
 '$40.00 - $95.00 SF/YR',
 '$80.00 SF/YR',
 '$40.00 SF/YR',
 '$40.00 - $42.00 SF/YR',
 '$62.00 - $200.00 SF/YR',
 '$72.85 SF/YR',
 '$40.00 SF/YR',
 '$139.64 SF/YR',
 '$39.00 - $49.00 SF/YR',
 '$125.00 SF/YR',
 '$25.00 - $89.27 SF/YR',
 '$182.69 SF/YR',
 '$29.00 - $31.00 SF/YR',
 '$60.00 - $165.00 SF/YR',
 '$50.00 - $105.00 SF/YR',
 '$33.75 SF/YR',
 '$35.05 - $85.20 SF/YR',
 '$65.00 SF/YR',
 '$95.00 - $375.00 SF/YR',
 '$30.00 SF/YR',
 '$218.00 SF/YR',
 '$31.00 - $49.00 SF/YR',
 '$69.00 SF/YR',
 '$52.00 - $75.00 SF/YR',
 '$60.42 - $69.00 SF/YR',
 '$65.00 SF/YR',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none\t',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none ',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none ',
 'none ',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none ',
 'none',
 'none ',
 'none ',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none ',
 'none ',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none ',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 '$60.00 SF/YR',
 '$49.00 - $91.00 SF/YR',
 '$35.00 SF/YR',
 '$26.01 SF/YR',
 '$40.00 SF/YR',
 '$4.00 SF/YR',
 '$40.00 SF/YR',
 '$115.00 SF/YR',
 '$85.00 SF/YR',
 '$39.00 SF/YR',
 '$55.00 SF/YR',
 '$105.26 SF/YR',
 '$65.00 - $125.00 SF/YR',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none',
 'none']

In [955]:
df[['City', 'ZIP']] = df['City and ZIP'].str.split('NY, ', expand=True)

In [956]:
df.head(20)

,Address,City and ZIP,Year Built,SF,Price,City,ZIP
0,2586 Linden Blvd,"Brooklyn, NY, 11208",Built in 2015,"8,500 SF Retail Space",$48.00 SF/YR,"Brooklyn,",11208
1,103 Macdougal St,"New York, NY, 10012",Built in 1900,"5,000 - 12,000 SF Retail Spaces",$120.00 SF/YR,"New York,",10012
2,336 W 23rd St,"New York, NY, 10011",Built in 1910,"2,000 - 6,200 SF Retail Spaces",48.00 - $49.00 SF/YR,"New York,",10011
3,1 Wall Street,"New York, NY, 10005",Built in 1904,"5,000 - 12,500 SF Retail Spaces",84.00 - $88.00 SF/YR,"New York,",10005
4,31 W 21st St,"New York, NY, 10010",Built in 1908,"9,000 SF Retail Spaces",$115.00 SF/YR,"New York,",10010
5,59 N 6th St,"Brooklyn, NY, 11249",Built in 2020,"4,200 SF Retail Space",$250.00 SF/YR,"Brooklyn,",11249
6,135 W 36th St,"New York, NY, 10018",Built in 1925,"2,439 - 27,499 SF Spaces",$76.50 SF/YR,"New York,",10018
7,946 McDonald Ave,"Brooklyn, NY, 11218",Built in 1933,"1,000 - 4,500 SF Retail Spaces",$29.00 SF/YR,"Brooklyn,",11218
8,2705-2715 Mermaid Ave,"Brooklyn, NY, 11224",Built in 1930,"5,000 SF Retail Space",$19.68 SF/YR,"Brooklyn,",11224
9,218 Newel St,"Brooklyn, NY, 11222",Built in 1931,"2,830 - 11,760 SF",35.00 - $40.00 SF/YR,"Brooklyn,",11222
10,2516 Neptune Ave,"Brooklyn, NY, 11224",Built in 2018,"4,600 SF Building",$22.00 SF/YR,"Brooklyn,",11224
11,261 3rd Ave,"New York, NY, 10010",Built in 2016,"1,876 - 4,096 SF Retail",110.00 - $200.00 SF/YR,"New York,",10010
12,637-639 Classon Ave,"Brooklyn, NY, 11238",Built in 1930,"4,283 SF Retail",$30.00 SF/YR,"Brooklyn,",11238
13,421 Troutman St,"Brooklyn, NY, 11237",Built in 1960,"10,000 SF Retail",$55.00 SF/YR,"Brooklyn,",11237
14,100 Bogart St,"Brooklyn, NY, 11206",Built in 2017,"2,400 - 22,839 SF Retail",36.00 - $60.00 SF/YR,"Brooklyn,",11206
15,2058 Flatbush Ave,"Brooklyn, NY, 11234",Built in 1931,"4,000 SF Retail",$30.00 SF/YR,"Brooklyn,",11234
16,755 Forest Ave,"Staten Island, NY, 10310",Built in 1931,"4,000 SF Retail",$56.25 SF/YR,"Staten Island,",10310
17,187 Kent Ave,"Brooklyn, NY, 11249",Built in 2020,"11,500 SF Retail",$175.00 SF/YR,"Brooklyn,",11249
18,2700-2754 Hylan Blvd,"Staten Island, NY, 10306",Built in 1972,"9,880 SF Retail",$40.00 SF/YR,"Staten Island,",10306
19,101-105 Brighton Beach Ave,"Brooklyn, NY, 11235",Built in 2000,"8,653 SF Retail",$51.00 SF/YR,"Brooklyn,",11235

In [957]:
df['Price'] = df['Price'].str.strip()

# Replace 'none' with '- 0 SF/YR'
df['Price'] = df['Price'].replace('none', ' - 0 SF/YR')

# Step 2 & 3: Extract substring between '-' or '$' and 'SF/YR' in the 'Price' column
#df['yearly_price_per_SF'] = df['Price'].str.extract(r'(-|\$)(.*?)(?= SF/YR)', expand=False)
def get_substring(string, start_vals, end_vals):
    max_indices_from_left = ([string.rfind(val) for val in start_vals])
    max_index_from_left = max(max_indices_from_left) if max_indices_from_left else -1
    truncate_left_side = string[max_index_from_left+len(string[max_index]):]
    min_indices_from_right = [truncate_left_side.find(val) for val in end_vals]
    min_index_from_right = min(min_indices_from_right) if min_indices_from_right else -1
    truncate_right_side = truncate_left_side[:min_index_from_right]
    return truncate_right_side #left_side #right_side[0] if right_side else left_side


df['yearly_price_per_SF'] = df['Price'].apply(lambda x: get_substring(x, ['$', '-'], ['SF/YR']))
df['SF'] = df['SF'].apply(lambda x: get_substring(x, ['-'], ['SF']))

df['year_built'] = df['Year Built'].str.replace('Built in ', '')

def remove_info(s):
    return re.sub(r'^.*?-', '', s)


df['Address'] = df['Address'].apply(remove_info)

# Step 4: Drop unnecessary columns
df.drop(columns=[ 'Price', 'Year Built'], inplace=True)

In [958]:
df

,Address,City and ZIP,SF,City,ZIP,yearly_price_per_SF,year_built
0,2586 Linden Blvd,"Brooklyn, NY, 11208","8,500","Brooklyn,",11208,48.00,2015
1,103 Macdougal St,"New York, NY, 10012","12,000","New York,",10012,120.00,1900
2,336 W 23rd St,"New York, NY, 10011","6,200","New York,",10011,49.00,1910
3,1 Wall Street,"New York, NY, 10005","12,500","New York,",10005,88.00,1904
4,31 W 21st St,"New York, NY, 10010","9,000","New York,",10010,115.00,1908
...,...,...,...,...,...,...,...
506,649 Eighth Ave,"New York, NY, 10018","29,905","New York,",10018,0,1950
507,4473 Amboy Rd,"Staten Island, NY, 10312","15,000","Staten Island,",10312,0,2022
508,143 Fulton St,"New York, NY, 10038","8,444","New York,",10038,0,2018
509,768 5th Ave,"New York, NY, 10019","32,940","New York,",10019,0,1907
510,413 W 14th St,"New York, NY, 10014","23,215","New York,",10014,0,1929

In [959]:
mystr = '123df6780df'
char = 'df'
min_index = min((i for i, c in enumerate(mystr) if c == char), default=-1)
print(min_index)  # Output: -1

-1

In [960]:
start = ['-']
end = []
s = '625-649 Eighth Ave'

def get_substring(string, start_vals, end_vals):
    max_indices_from_left = ([string.rfind(val) for val in start_vals])
    max_index_from_left = max(max_indices_from_left) if max_indices_from_left else -1
    truncate_left_side = string[max_index_from_left+len(string[max_index_from_left]) :]
    min_indices_from_right = [truncate_left_side.find(val) for val in end_vals]
    min_index_from_right = min(min_indices_from_right) if min_indices_from_right else -1
    truncate_right_side = truncate_left_side[:(min_index_from_right)]
    print('tls',truncate_left_side, min_index_from_right)
    return truncate_right_side #left_side #right_side[0] if right_side else left_side
    
print( get_substring(s, start,end))

tls 649 Eighth Ave -1
649 Eighth Av

In [961]:
import re
output_str = re.sub(r'^.*?-', '', s)
print(output_str)

649 Eighth Ave

In [962]:
df['full_address'] = df['Address'] + ' ' + df['City and ZIP']
df.head(20)

,Address,City and ZIP,SF,City,ZIP,yearly_price_per_SF,year_built,full_address
0,2586 Linden Blvd,"Brooklyn, NY, 11208","8,500","Brooklyn,",11208,48.00,2015,"2586 Linden Blvd Brooklyn, NY, 11208"
1,103 Macdougal St,"New York, NY, 10012","12,000","New York,",10012,120.00,1900,"103 Macdougal St New York, NY, 10012"
2,336 W 23rd St,"New York, NY, 10011","6,200","New York,",10011,49.00,1910,"336 W 23rd St New York, NY, 10011"
3,1 Wall Street,"New York, NY, 10005","12,500","New York,",10005,88.00,1904,"1 Wall Street New York, NY, 10005"
4,31 W 21st St,"New York, NY, 10010","9,000","New York,",10010,115.00,1908,"31 W 21st St New York, NY, 10010"
5,59 N 6th St,"Brooklyn, NY, 11249","4,200","Brooklyn,",11249,250.00,2020,"59 N 6th St Brooklyn, NY, 11249"
6,135 W 36th St,"New York, NY, 10018","27,499","New York,",10018,76.50,1925,"135 W 36th St New York, NY, 10018"
7,946 McDonald Ave,"Brooklyn, NY, 11218","4,500","Brooklyn,",11218,29.00,1933,"946 McDonald Ave Brooklyn, NY, 11218"
8,2715 Mermaid Ave,"Brooklyn, NY, 11224","5,000","Brooklyn,",11224,19.68,1930,"2715 Mermaid Ave Brooklyn, NY, 11224"
9,218 Newel St,"Brooklyn, NY, 11222","11,760","Brooklyn,",11222,40.00,1931,"218 Newel St Brooklyn, NY, 11222"
10,2516 Neptune Ave,"Brooklyn, NY, 11224","4,600","Brooklyn,",11224,22.00,2018,"2516 Neptune Ave Brooklyn, NY, 11224"
11,261 3rd Ave,"New York, NY, 10010","4,096","New York,",10010,200.00,2016,"261 3rd Ave New York, NY, 10010"
12,639 Classon Ave,"Brooklyn, NY, 11238","4,283","Brooklyn,",11238,30.00,1930,"639 Classon Ave Brooklyn, NY, 11238"
13,421 Troutman St,"Brooklyn, NY, 11237","10,000","Brooklyn,",11237,55.00,1960,"421 Troutman St Brooklyn, NY, 11237"
14,100 Bogart St,"Brooklyn, NY, 11206","22,839","Brooklyn,",11206,60.00,2017,"100 Bogart St Brooklyn, NY, 11206"
15,2058 Flatbush Ave,"Brooklyn, NY, 11234","4,000","Brooklyn,",11234,30.00,1931,"2058 Flatbush Ave Brooklyn, NY, 11234"
16,755 Forest Ave,"Staten Island, NY, 10310","4,000","Staten Island,",10310,56.25,1931,"755 Forest Ave Staten Island, NY, 10310"
17,187 Kent Ave,"Brooklyn, NY, 11249","11,500","Brooklyn,",11249,175.00,2020,"187 Kent Ave Brooklyn, NY, 11249"
18,2754 Hylan Blvd,"Staten Island, NY, 10306","9,880","Staten Island,",10306,40.00,1972,"2754 Hylan Blvd Staten Island, NY, 10306"
19,105 Brighton Beach Ave,"Brooklyn, NY, 11235","8,653","Brooklyn,",11235,51.00,2000,"105 Brighton Beach Ave Brooklyn, NY, 11235"

In [977]:
from geopy.geocoders import Nominatim

# Initialize the geocoder
geolocator = Nominatim(user_agent="my_geocoder")

# Address to geocode
address = [ "336 W 23rd St New York, NY, 10011", '2586 Linden Blvd Brooklyn, NY, 11208', '421 Troutman St Brooklyn, NY, 11237'
          ,'946 McDonald Ave Brooklyn, NY, 11218', '1 Wall Street Ct New York, NY, 10005']
locs_list_2=[]
# Geocode the address
k=0
for i in df.full_address[391:]:
    k+=1
    location = [geolocator.geocode(i)[-1]]
    locs_list_2.append(location)
    print(k)
    #time.sleep(np.random.randint(1*100,2*100)/100)
# Print latitude and longitude
#print("Latitude:", location.latitude)
#print("Longitude:", location.longitude)
print(locs_list_2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
[[(40.7145782, -74.0080127)], [(40.7382609, -73.9821989)], [(40.7558726, -73.9704163)], [(40.6566266, -74.0084324)], [(40.8483567, -73.9317784)], [(40.70964755, -73.95849290415352)], [(40.7617175, -73.9974331)], [(40.709094300000004, -74.00626756944155)], [(40.6535484, -73.8669567)], [(40.66900023076923, -73.91478615384615)], [(40.774525999999994, -73.98313909314717)], [(40.7221554, -73.99868638912059)], [(42.726778726761786, -73.70233763127999)], [(40.7480514, -73.9947655069492)], [(40.742881100000005, -73.9953892604707)], [(40.804083, -73.93541246153846)], [(40.702414265306125, -73.98880025510203)], [(42.7090057, -73.71443000000001)], [(40.749554450000005, -73.97622453362516)], [(40.7738132, -73.9816316)], [(40.70066065, -73.94131112226533)], [(40.7508538, -74.0036078)], [(40.7622952, -73.97592252965097)], [(40.7369146, -73.98920876549667)], [(40.7366941, -73.9900361)], [(40.64679895, -73.97134259819359)], [(42.712378, -73.71175586583925)], [(40.70739505, -74.01355077977927)], [(40.60585058, -73.98523486)], [(40.747936, -73.9883877)], [(42.709032, -73.713248)], [(40.7304709, -74.0007447)], [(40.685194, -73.980607)], [(40.6404888, -74.075896)], [(40.75803195, -73.98483199122256)], [(40.751959, -73.9864256)], [(40.6930882, -73.9720057)], [(42.712429, -73.71360351020408)], [(42.712825, -73.712203)], [(40.76351445, -73.98390711845306)], [(40.7704241, -73.98123314817387)], [(40.8092982, -73.9305335)], [(40.762519850000004, -73.97181703733835)], [(40.7248411, -74.0006739)], [(40.59051, -74.1650734)], [(40.7492164, -73.9868101)], [(40.6232018, -74.1485547)], [(40.760041099999995, -73.9818903421781)], [(40.7618743, -73.9682563)], [(40.6971741, -73.9829688)], [(40.80979293939394, -73.94842142424243)], [(40.678193885714286, -73.95488957142857)], [(40.71236585, -73.93766723947627)], [(40.7555913, -73.9621887)], [(40.70672355, -73.95376792533114)], [(40.6996342, -73.919566)], [(40.70443405, -73.9923845)], [(40.7214685, -74.0003133)], [(40.8931283, -73.8205375)], [(40.6607211, -73.920297092149)], [(40.8152634, -73.9441078)], [(40.6834016875, -73.9791020625)], [(40.633579, -74.07613968439034)], [(40.633076700000004, -74.1171836422468)], [(40.6712914, -73.9310251)], [(40.60823215, -73.96042765456899)], [(40.7003395, -73.93422555111707)], [(40.79439265, -73.96967599083226)], [(42.80059385714286, -73.94890328571428)], [(40.79954166666667, -73.96821733333333)], [(40.6903401, -73.9829673)], [(40.685546200000005, -73.97772358182537)], [(40.758877, -73.96964409512756)], [(40.752017249999994, -73.9808252)], [(40.74185375, -74.00728242187499)], [(40.6245982, -74.14288873633218)], [(40.70804825, -74.01487855)], [(40.6895445, -73.9879612)], [(40.6974336, -73.95892835000001)], [(40.7497095, -73.98609003143156)], [(42.343898, -78.935829)], [(40.721829908163265, -73.95656140816327)], [(40.8023839, -73.9497604)], [(40.6765119, -73.9127574)], [(40.8120077, -73.9550848)], [(40.756502, -73.97336164306073)], [(40.7622941, -73.97507538397295)], [(40.75784715, -73.99223011350482)], [(40.77133675, -73.98260008236542)], [(42.80211414285714, -73.949505)], [(40.7515177, -73.98156623058387)], [(40.80138709523809, -73.93763057142857)], [(40.78369395, -73.94917614117922)], [(40.7867813, -73.9417567)], [(40.6927371, -74.0000345)], [(40.6674077, -73.89925339477041)], [(40.76074295, -73.96523984133496)], [(40.72710033333333, -74.00581686666666)], [(40.729562099999995, -73.95136917579269)], [(40.7824049, -73.9811499)], [(40.6926787, -73.92039788190623)], [(40.751362650000004, -73.97512657866304)], [(40.743930750000004, -73.98034604501021)], [(40.714625, -74.0083944)], [(40.7519148, -73.97553)], [(40.67763332142857, -73.98336089285715)], [(40.7939238, -73.9664969)], [(40.81376015, -73.95506526188043)], [(41.103509, -72.36598246938775)], [(40.7563975, -73.97836658669951)], [(40.763729299999994, -73.97661025644783)], [(40.7064577, -73.9334856)], [(40.763842600000004, -73.97296406510694)], [(40.707761530612245, -74.01356734693879)], [(40.76114925, -73.98464776846424)], [(42.71520424028384, -73.71127781292253)], [(40.54418277230503, -74.16286421553426)], [(40.71063895, -74.00796990227622)], [(40.764459849999994, -73.97449410382455)], [(40.7415171, -74.0062759)]]

In [1041]:
coords_list = locs_list[-1] + locs_list_2
coords_list_tuple=([i[0] for i in coords_list])
#coords_list_lat, coords_list_long = list(map(list, zip(*coords_list_tuple)))
coords_list_tuple

[(40.7145782, -74.0080127),
 (40.7382609, -73.9821989),
 (40.7558726, -73.9704163),
 (40.6566266, -74.0084324),
 (40.8483567, -73.9317784),
 (40.70964755, -73.95849290415352),
 (40.7617175, -73.9974331),
 (40.709094300000004, -74.00626756944155),
 (40.6535484, -73.8669567),
 (40.66900023076923, -73.91478615384615),
 (40.774525999999994, -73.98313909314717),
 (40.7221554, -73.99868638912059),
 (42.726778726761786, -73.70233763127999),
 (40.7480514, -73.9947655069492),
 (40.742881100000005, -73.9953892604707),
 (40.804083, -73.93541246153846),
 (40.702414265306125, -73.98880025510203),
 (42.7090057, -73.71443000000001),
 (40.749554450000005, -73.97622453362516),
 (40.7738132, -73.9816316),
 (40.70066065, -73.94131112226533),
 (40.7508538, -74.0036078),
 (40.7622952, -73.97592252965097),
 (40.7369146, -73.98920876549667),
 (40.7366941, -73.9900361),
 (40.64679895, -73.97134259819359),
 (42.712378, -73.71175586583925),
 (40.70739505, -74.01355077977927),
 (40.60585058, -73.98523486),
 (40.747936, -73.9883877),
 (42.709032, -73.713248),
 (40.7304709, -74.0007447),
 (40.685194, -73.980607),
 (40.6404888, -74.075896),
 (40.75803195, -73.98483199122256),
 (40.751959, -73.9864256),
 (40.6930882, -73.9720057),
 (42.712429, -73.71360351020408),
 (42.712825, -73.712203),
 (40.76351445, -73.98390711845306),
 (40.7704241, -73.98123314817387),
 (40.8092982, -73.9305335),
 (40.762519850000004, -73.97181703733835),
 (40.7248411, -74.0006739),
 (40.59051, -74.1650734),
 (40.7492164, -73.9868101),
 (40.6232018, -74.1485547),
 (40.760041099999995, -73.9818903421781),
 (40.7618743, -73.9682563),
 (40.6971741, -73.9829688),
 (40.80979293939394, -73.94842142424243),
 (40.678193885714286, -73.95488957142857),
 (40.71236585, -73.93766723947627),
 (40.7555913, -73.9621887),
 (40.70672355, -73.95376792533114),
 (40.6996342, -73.919566),
 (40.70443405, -73.9923845),
 (40.7214685, -74.0003133),
 (40.8931283, -73.8205375),
 (40.6607211, -73.920297092149),
 (40.8152634, -73.9441078),
 (40.6834016875, -73.9791020625),
 (40.633579, -74.07613968439034),
 (40.633076700000004, -74.1171836422468),
 (40.6712914, -73.9310251),
 (40.60823215, -73.96042765456899),
 (40.7003395, -73.93422555111707),
 (40.79439265, -73.96967599083226),
 (42.80059385714286, -73.94890328571428),
 (40.79954166666667, -73.96821733333333),
 (40.6903401, -73.9829673),
 (40.685546200000005, -73.97772358182537),
 (40.758877, -73.96964409512756),
 (40.752017249999994, -73.9808252),
 (40.74185375, -74.00728242187499),
 (40.6245982, -74.14288873633218),
 (40.70804825, -74.01487855),
 (40.6895445, -73.9879612),
 (40.6974336, -73.95892835000001),
 (40.7497095, -73.98609003143156),
 (42.343898, -78.935829),
 (40.721829908163265, -73.95656140816327),
 (40.8023839, -73.9497604),
 (40.6765119, -73.9127574),
 (40.8120077, -73.9550848),
 (40.756502, -73.97336164306073),
 (40.7622941, -73.97507538397295),
 (40.75784715, -73.99223011350482),
 (40.77133675, -73.98260008236542),
 (42.80211414285714, -73.949505),
 (40.7515177, -73.98156623058387),
 (40.80138709523809, -73.93763057142857),
 (40.78369395, -73.94917614117922),
 (40.7867813, -73.9417567),
 (40.6927371, -74.0000345),
 (40.6674077, -73.89925339477041),
 (40.76074295, -73.96523984133496),
 (40.72710033333333, -74.00581686666666),
 (40.729562099999995, -73.95136917579269),
 (40.7824049, -73.9811499),
 (40.6926787, -73.92039788190623),
 (40.751362650000004, -73.97512657866304),
 (40.743930750000004, -73.98034604501021),
 (40.714625, -74.0083944),
 (40.7519148, -73.97553),
 (40.67763332142857, -73.98336089285715),
 (40.7939238, -73.9664969),
 (40.81376015, -73.95506526188043),
 (41.103509, -72.36598246938775),
 (40.7563975, -73.97836658669951),
 (40.763729299999994, -73.97661025644783),
 (40.7064577, -73.9334856),
 (40.763842600000004, -73.97296406510694),
 (40.707761530612245, -74.01356734693879),
 (40.76114925, -73.98464776846424),
 (42.71520424028384, -73.71127781292253),
 (40.54418277230503, -74.16286421553426),
 (40.71063895, -74.00796990227622),
 (40.764459849999994, -73.97449410382455),
 (40.7415171, -74.0062759),
 (40.7145782, -74.0080127),
 (40.7382609, -73.9821989),
 (40.7558726, -73.9704163),
 (40.6566266, -74.0084324),
 (40.8483567, -73.9317784),
 (40.70964755, -73.95849290415352),
 (40.7617175, -73.9974331),
 (40.709094300000004, -74.00626756944155),
 (40.6535484, -73.8669567),
 (40.66900023076923, -73.91478615384615),
 (40.774525999999994, -73.98313909314717),
 (40.7221554, -73.99868638912059),
 (42.726778726761786, -73.70233763127999),
 (40.7480514, -73.9947655069492),
 (40.742881100000005, -73.9953892604707),
 (40.804083, -73.93541246153846),
 (40.702414265306125, -73.98880025510203),
 (42.7090057, -73.71443000000001),
 (40.749554450000005, -73.97622453362516),
 (40.7738132, -73.9816316),
 (40.70066065, -73.94131112226533),
 (40.7508538, -74.0036078),
 (40.7622952, -73.97592252965097),
 (40.7369146, -73.98920876549667),
 (40.7366941, -73.9900361),
 (40.64679895, -73.97134259819359),
 (42.712378, -73.71175586583925),
 (40.70739505, -74.01355077977927),
 (40.60585058, -73.98523486),
 (40.747936, -73.9883877),
 (42.709032, -73.713248),
 (40.7304709, -74.0007447),
 (40.685194, -73.980607),
 (40.6404888, -74.075896),
 (40.75803195, -73.98483199122256),
 (40.751959, -73.9864256),
 (40.6930882, -73.9720057),
 (42.712429, -73.71360351020408),
 (42.712825, -73.712203),
 (40.76351445, -73.98390711845306),
 (40.7704241, -73.98123314817387),
 (40.8092982, -73.9305335),
 (40.762519850000004, -73.97181703733835),
 (40.7248411, -74.0006739),
 (40.59051, -74.1650734),
 (40.7492164, -73.9868101),
 (40.6232018, -74.1485547),
 (40.760041099999995, -73.9818903421781),
 (40.7618743, -73.9682563),
 (40.6971741, -73.9829688),
 (40.80979293939394, -73.94842142424243),
 (40.678193885714286, -73.95488957142857),
 (40.71236585, -73.93766723947627),
 (40.7555913, -73.9621887),
 (40.70672355, -73.95376792533114),
 (40.6996342, -73.919566),
 (40.70443405, -73.9923845),
 (40.7214685, -74.0003133),
 (40.8931283, -73.8205375),
 (40.6607211, -73.920297092149),
 (40.8152634, -73.9441078),
 (40.6834016875, -73.9791020625),
 (40.633579, -74.07613968439034),
 (40.633076700000004, -74.1171836422468),
 (40.6712914, -73.9310251),
 (40.60823215, -73.96042765456899),
 (40.7003395, -73.93422555111707),
 (40.79439265, -73.96967599083226),
 (42.80059385714286, -73.94890328571428),
 (40.79954166666667, -73.96821733333333),
 (40.6903401, -73.9829673),
 (40.685546200000005, -73.97772358182537),
 (40.758877, -73.96964409512756),
 (40.752017249999994, -73.9808252),
 (40.74185375, -74.00728242187499),
 (40.6245982, -74.14288873633218),
 (40.70804825, -74.01487855),
 (40.6895445, -73.9879612),
 (40.6974336, -73.95892835000001),
 (40.7497095, -73.98609003143156),
 (42.343898, -78.935829),
 (40.721829908163265, -73.95656140816327),
 (40.8023839, -73.9497604),
 (40.6765119, -73.9127574),
 (40.8120077, -73.9550848),
 (40.756502, -73.97336164306073),
 (40.7622941, -73.97507538397295),
 (40.75784715, -73.99223011350482),
 (40.77133675, -73.98260008236542),
 (42.80211414285714, -73.949505),
 (40.7515177, -73.98156623058387),
 (40.80138709523809, -73.93763057142857),
 (40.78369395, -73.94917614117922),
 (40.7867813, -73.9417567),
 (40.6927371, -74.0000345),
 (40.6674077, -73.89925339477041),
 (40.76074295, -73.96523984133496),
 (40.72710033333333, -74.00581686666666),
 (40.729562099999995, -73.95136917579269),
 (40.7824049, -73.9811499),
 (40.6926787, -73.92039788190623),
 (40.751362650000004, -73.97512657866304),
 (40.743930750000004, -73.98034604501021),
 (40.714625, -74.0083944),
 (40.7519148, -73.97553),
 (40.67763332142857, -73.98336089285715),
 (40.7939238, -73.9664969),
 (40.81376015, -73.95506526188043),
 (41.103509, -72.36598246938775),
 (40.7563975, -73.97836658669951),
 (40.763729299999994, -73.97661025644783),
 (40.7064577, -73.9334856),
 (40.763842600000004, -73.97296406510694),
 (40.707761530612245, -74.01356734693879),
 (40.76114925, -73.98464776846424),
 (42.71520424028384, -73.71127781292253),
 (40.54418277230503, -74.16286421553426),
 (40.71063895, -74.00796990227622),
 (40.764459849999994, -73.97449410382455),
 (40.7415171, -74.0062759)]

In [1026]:
coords_list_tuple=([i[0] for i in coords_list])
coords_list_lat, coords_list_long = list(map(list, zip(*coords_list_tuple)))
(coords_list_sep)
#df['latutude'] = coords_list_sep[0]
#df['longitude'] = coords_list_sep[1]

[[40.66885593333333,
  40.72964981818182,
  40.74558845,
  40.7073017,
  40.7411472,
  40.71931522727273,
  40.75193765,
  40.63097965,
  40.5757617,
  40.7296393,
  40.5778226,
  40.7373662,
  40.678643,
  40.70681178571429,
  40.709049,
  40.6195706,
  40.6293401,
  40.717922,
  40.5639272,
  40.5764948,
  40.706993,
  40.723597322580645,
  40.7033972,
  40.7815647,
  40.7189269,
  40.65242473333333,
  40.990764600000006,
  40.7471682,
  40.71313022222222,
  41.103357,
  42.712440163265306,
  40.7642505,
  40.7202256,
  40.697211,
  40.766850112244896,
  40.5232315443038,
  40.6808323,
  40.52819158809241,
  40.755799499999995,
  42.732399290232415,
  40.848989857142854,
  40.8196299,
  40.74228391836735,
  40.59021135,
  40.58676375,
  40.6206544,
  40.6847728,
  40.520736,
  40.60678789473684,
  40.60432175,
  40.7189793,
  40.7500533877551,
  40.50995335,
  40.8026919,
  40.761973749999996,
  40.7182986,
  40.7531443,
  42.7352973,
  40.94783525,
  40.7478474,
  40.7476009,
  40.7475001875,
  40.7538227,
  40.755506100000005,
  40.722925,
  40.7190092,
  40.63428605,
  40.7041127,
  40.6995838,
  40.6186654,
  40.6102309,
  40.7834733,
  40.5273907,
  40.60720915,
  40.704761250000004,
  40.7389754,
  40.6728674,
  40.58538875,
  40.65343878947368,
  40.7430035,
  40.6819833,
  40.81050169387755,
  40.66877028571429,
  40.6910037,
  40.6247672,
  40.67622,
  40.722199714285715,
  40.6155853,
  40.7179428,
  40.6501993,
  40.7437261,
  40.74380889744286,
  40.7226841,
  40.7613625,
  40.63970075510204,
  40.63783188095238,
  40.7177858,
  40.70695825000001,
  40.6687259,
  40.7298686,
  40.7189793,
  40.7500533877551,
  40.50995335,
  40.8026919,
  40.761973749999996,
  40.7182986,
  40.7531443,
  42.7352973,
  40.94783525,
  40.7478474,
  40.7476009,
  40.7475001875,
  40.7538227,
  40.755506100000005,
  40.722925,
  40.7190092,
  40.63428605,
  40.7041127,
  40.6995838,
  40.6186654,
  40.6102309,
  40.7834733,
  40.5273907,
  40.60720915,
  40.704761250000004,
  40.7389754,
  40.6728674,
  40.58538875,
  40.65343878947368,
  40.7430035,
  40.6819833,
  40.81050169387755,
  40.66877028571429,
  40.6910037,
  40.6247672,
  40.67622,
  40.722199714285715,
  40.6155853,
  40.7179428,
  40.6501993,
  40.7437261,
  40.74380889744286,
  40.7226841,
  40.7613625,
  40.63970075510204,
  40.63783188095238,
  40.7177858,
  40.70695825000001,
  40.6687259,
  40.7298686,
  40.67922775,
  40.71667731428572,
  40.5784211,
  40.7433913,
  40.6738764,
  40.7192036,
  40.7767283,
  40.70797775,
  40.61023078846154,
  40.743844,
  40.7221123,
  40.706415428571425,
  40.7090799,
  42.95471490247753,
  40.7374751,
  40.7066477,
  40.7455054,
  42.71042081632653,
  40.7022468,
  40.746518,
  40.7995229,
  40.63412375,
  40.612594349999995,
  42.71576100566184,
  40.7313981,
  40.669664749999995,
  40.83859281632653,
  40.578571,
  40.6894744,
  40.7385701,
  40.7625626,
  40.6413913,
  40.7948992,
  40.8089453,
  40.7506032,
  40.8443019,
  40.5757455,
  40.7246643,
  40.844236699999996,
  40.8492525,
  40.700085781249996,
  40.7476245,
  40.7523481,
  40.7392151,
  40.7625148,
  40.67435656451613,
  40.7610198,
  40.7087961,
  40.63001925,
  40.703204945454544,
  40.72278845,
  40.60891465,
  40.722591,
  40.714463,
  40.7022219,
  40.756878,
  40.639049299999996,
  40.689819,
  40.65868841379311,
  40.7155958,
  40.7593749,
  40.744349299999996,
  40.749031200000005,
  40.63460410204081,
  40.7583719,
  40.7150025,
  40.5996058,
  40.949199,
  40.6882763,
  40.6168628367347,
  40.714795882352945,
  40.7520835,
  40.718879,
  40.669587750000005,
  40.7200334,
  40.70462355,
  40.725159250000004,
  40.8179411,
  40.6895914,
  40.7496482,
  40.710048,
  40.7394173,
  40.76665385,
  40.7220396,
  40.950676,
  40.71891385,
  40.660740469387754,
  40.670054,
  40.69556063636364,
  40.678331892857145,
  40.659989350000004,
  40.7153775,
  42.708560375,
  40.52140205,
  40.757343649999996,
  40.6152792244898,
  40.63276894736842,
  40.682753,
  40.5991824,
  40.7115484,
  40.718875749999995,
  42.709286660000004,
  40.74610775,
  40.668804,
  40.650001700000004,
  40.7258985,
  40.7188506,
  40.7402483,
  40.629880551020406,
  40.794275909090906,
  40.7222848,
  40.71415745,
  40.67855385,
  40.7564611,
  40.86386210204081,
  40.72526333333334,
  40.5785818,
  41.10247065,
  40.65565,
  42.72771605877891,
  40.7269177,
  40.779018125,
  40.7080718,
  40.76398435,
  40.600086950000005,
  40.7501297,
  40.754433,
  40.71320428571428,
  40.747388,
  40.72295715,
  40.700189249999994,
  40.771038,
  40.7149959,
  40.7225891,
  40.6975988,
  40.715859699999996,
  40.7517813,
  40.72999096583135,
  40.719053200000005,
  40.7358007,
  40.727138714285715,
  40.7505275,
  40.69991927027027,
  40.720059,
  40.645644142857144,
  40.64635695918368,
  40.7582684,
  40.7498065,
  40.809347,
  40.763676149999995,
  40.68135983333333,
  40.80684327777778,
  40.809692850000005,
  40.57541216451715,
  40.76279,
  40.67755161904762,
  40.602973931818184,
  40.7256642,
  40.6947934,
  42.71483163265306,
  40.7021211,
  40.863822,
  40.722265,
  40.716749300000004,
  40.722671399999996,
  40.7149953,
  40.7194159,
  40.7511803,
  40.807710900000004,
  40.7765944,
  40.721289,
  40.7211238,
  40.7460385,
  40.80623977777778,
  40.64557712244898,
  40.5638151,
  40.7220396,
  40.7565827,
  40.7369123,
  40.72897155,
  40.682635673469385,
  40.7889288,
  40.631614,
  40.7481402,
  40.8019416,
  40.75778325,
  40.806919416666666,
  40.69890465,
  40.7367068,
  40.6698009,
  40.76611965,
  40.751338450000006,
  40.70920665,
  40.7049964,
  40.7247568,
  40.58009193939394,
  42.7143168,
  40.7190273,
  40.73180375,
  41.10247244826962,
  40.6538738,
  40.6972833,
  40.7713086,
  40.792044499999996,
  40.75409625,
  40.67689071428571,
  40.7566828,
  40.620522199999996,
  40.67596,
  40.72424851612903,
  40.7058026,
  40.7645897,
  40.651623,
  40.75540359183673,
  40.7637759,
  40.6794197,
  40.60701356097561,
  40.7475728,
  40.5541389,
  40.7194167,
  40.7455555,
  40.74158515,
  40.737003200000004,
  40.7598702,
  40.7313981,
  40.69040533333333,
  40.57993441414141,
  40.634523,
  40.7570377,
  40.7529581,
  40.7793896,
  40.7494367,
  40.7941564375,
  40.8160772,
  40.736483050000004,
  40.7498053,
  40.72076935,
  40.74618015,
  40.6339138,
  40.66562814285714,
  40.63299705,
  (40.7145782, -74.0080127),
  40.7145782,
  40.7382609,
  40.7558726,
  40.6566266,
  40.8483567,
  40.70964755,
  40.7617175,
  40.709094300000004,
  40.6535484,
  40.66900023076923,
  40.774525999999994,
  40.7221554,
  42.726778726761786,
  40.7480514,
  40.742881100000005,
  40.804083,
  40.702414265306125,
  42.7090057,
  40.749554450000005,
  40.7738132,
  40.70066065,
  40.7508538,
  40.7622952,
  40.7369146,
  40.7366941,
  40.64679895,
  42.712378,
  40.70739505,
  40.60585058,
  40.747936,
  42.709032,
  40.7304709,
  40.685194,
  40.6404888,
  40.75803195,
  40.751959,
  40.6930882,
  42.712429,
  42.712825,
  40.76351445,
  40.7704241,
  40.8092982,
  40.762519850000004,
  40.7248411,
  40.59051,
  40.7492164,
  40.6232018,
  40.760041099999995,
  40.7618743,
  40.6971741,
  40.80979293939394,
  40.678193885714286,
  40.71236585,
  40.7555913,
  40.70672355,
  40.6996342,
  40.70443405,
  40.7214685,
  40.8931283,
  40.6607211,
  40.8152634,
  40.6834016875,
  40.633579,
  40.633076700000004,
  40.6712914,
  40.60823215,
  40.7003395,
  40.79439265,
  42.80059385714286,
  40.79954166666667,
  40.6903401,
  40.685546200000005,
  40.758877,
  40.752017249999994,
  40.74185375,
  40.6245982,
  40.70804825,
  40.6895445,
  40.6974336,
  40.7497095,
  42.343898,
  40.721829908163265,
  40.8023839,
  40.6765119,
  40.8120077,
  40.756502,
  40.7622941,
  40.75784715,
  40.77133675,
  42.80211414285714,
  40.7515177,
  40.80138709523809,
  40.78369395,
  40.7867813,
  40.6927371,
  40.6674077,
  40.76074295,
  40.72710033333333,
  40.729562099999995,
  40.7824049,
  40.6926787,
  40.751362650000004,
  40.743930750000004,
  40.714625,
  40.7519148,
  40.67763332142857,
  40.7939238,
  40.81376015,
  41.103509,
  40.7563975,
  40.763729299999994,
  40.7064577,
  40.763842600000004,
  40.707761530612245,
  40.76114925,
  42.71520424028384,
  40.54418277230503,
  40.71063895,
  40.764459849999994,
  40.7415171]]

In [1033]:
print(coords_list_tuple[390]
,coords_list_tuple[391]
,coords_list_tuple[392])

(40.63299705, -73.94829109903728) [(40.7145782, -74.0080127)] (40.7145782, -74.0080127)

In [1037]:
locs_list[-1]

[[(40.7145782, -74.0080127)],
 [(40.7382609, -73.9821989)],
 [(40.7558726, -73.9704163)],
 [(40.6566266, -74.0084324)],
 [(40.8483567, -73.9317784)],
 [(40.70964755, -73.95849290415352)],
 [(40.7617175, -73.9974331)],
 [(40.709094300000004, -74.00626756944155)],
 [(40.6535484, -73.8669567)],
 [(40.66900023076923, -73.91478615384615)],
 [(40.774525999999994, -73.98313909314717)],
 [(40.7221554, -73.99868638912059)],
 [(42.726778726761786, -73.70233763127999)],
 [(40.7480514, -73.9947655069492)],
 [(40.742881100000005, -73.9953892604707)],
 [(40.804083, -73.93541246153846)],
 [(40.702414265306125, -73.98880025510203)],
 [(42.7090057, -73.71443000000001)],
 [(40.749554450000005, -73.97622453362516)],
 [(40.7738132, -73.9816316)],
 [(40.70066065, -73.94131112226533)],
 [(40.7508538, -74.0036078)],
 [(40.7622952, -73.97592252965097)],
 [(40.7369146, -73.98920876549667)],
 [(40.7366941, -73.9900361)],
 [(40.64679895, -73.97134259819359)],
 [(42.712378, -73.71175586583925)],
 [(40.70739505, -74.01355077977927)],
 [(40.60585058, -73.98523486)],
 [(40.747936, -73.9883877)],
 [(42.709032, -73.713248)],
 [(40.7304709, -74.0007447)],
 [(40.685194, -73.980607)],
 [(40.6404888, -74.075896)],
 [(40.75803195, -73.98483199122256)],
 [(40.751959, -73.9864256)],
 [(40.6930882, -73.9720057)],
 [(42.712429, -73.71360351020408)],
 [(42.712825, -73.712203)],
 [(40.76351445, -73.98390711845306)],
 [(40.7704241, -73.98123314817387)],
 [(40.8092982, -73.9305335)],
 [(40.762519850000004, -73.97181703733835)],
 [(40.7248411, -74.0006739)],
 [(40.59051, -74.1650734)],
 [(40.7492164, -73.9868101)],
 [(40.6232018, -74.1485547)],
 [(40.760041099999995, -73.9818903421781)],
 [(40.7618743, -73.9682563)],
 [(40.6971741, -73.9829688)],
 [(40.80979293939394, -73.94842142424243)],
 [(40.678193885714286, -73.95488957142857)],
 [(40.71236585, -73.93766723947627)],
 [(40.7555913, -73.9621887)],
 [(40.70672355, -73.95376792533114)],
 [(40.6996342, -73.919566)],
 [(40.70443405, -73.9923845)],
 [(40.7214685, -74.0003133)],
 [(40.8931283, -73.8205375)],
 [(40.6607211, -73.920297092149)],
 [(40.8152634, -73.9441078)],
 [(40.6834016875, -73.9791020625)],
 [(40.633579, -74.07613968439034)],
 [(40.633076700000004, -74.1171836422468)],
 [(40.6712914, -73.9310251)],
 [(40.60823215, -73.96042765456899)],
 [(40.7003395, -73.93422555111707)],
 [(40.79439265, -73.96967599083226)],
 [(42.80059385714286, -73.94890328571428)],
 [(40.79954166666667, -73.96821733333333)],
 [(40.6903401, -73.9829673)],
 [(40.685546200000005, -73.97772358182537)],
 [(40.758877, -73.96964409512756)],
 [(40.752017249999994, -73.9808252)],
 [(40.74185375, -74.00728242187499)],
 [(40.6245982, -74.14288873633218)],
 [(40.70804825, -74.01487855)],
 [(40.6895445, -73.9879612)],
 [(40.6974336, -73.95892835000001)],
 [(40.7497095, -73.98609003143156)],
 [(42.343898, -78.935829)],
 [(40.721829908163265, -73.95656140816327)],
 [(40.8023839, -73.9497604)],
 [(40.6765119, -73.9127574)],
 [(40.8120077, -73.9550848)],
 [(40.756502, -73.97336164306073)],
 [(40.7622941, -73.97507538397295)],
 [(40.75784715, -73.99223011350482)],
 [(40.77133675, -73.98260008236542)],
 [(42.80211414285714, -73.949505)],
 [(40.7515177, -73.98156623058387)],
 [(40.80138709523809, -73.93763057142857)],
 [(40.78369395, -73.94917614117922)],
 [(40.7867813, -73.9417567)],
 [(40.6927371, -74.0000345)],
 [(40.6674077, -73.89925339477041)],
 [(40.76074295, -73.96523984133496)],
 [(40.72710033333333, -74.00581686666666)],
 [(40.729562099999995, -73.95136917579269)],
 [(40.7824049, -73.9811499)],
 [(40.6926787, -73.92039788190623)],
 [(40.751362650000004, -73.97512657866304)],
 [(40.743930750000004, -73.98034604501021)],
 [(40.714625, -74.0083944)],
 [(40.7519148, -73.97553)],
 [(40.67763332142857, -73.98336089285715)],
 [(40.7939238, -73.9664969)],
 [(40.81376015, -73.95506526188043)],
 [(41.103509, -72.36598246938775)],
 [(40.7563975, -73.97836658669951)],
 [(40.763729299999994, -73.97661025644783)],
 [(40.7064577, -73.9334856)],
 [(40.763842600000004, -73.97296406510694)],
 [(40.707761530612245, -74.01356734693879)],
 [(40.76114925, -73.98464776846424)],
 [(42.71520424028384, -73.71127781292253)],
 [(40.54418277230503, -74.16286421553426)],
 [(40.71063895, -74.00796990227622)],
 [(40.764459849999994, -73.97449410382455)],
 [(40.7415171, -74.0062759)]]

In [ ]:
'16 madison square new york ny 10010 to broadway'

In [971]:
# Address to geocode
address = [ '283 Grand St Brooklyn, NY, 11211', '2586 Linden Blvd Brooklyn, NY, 11208', '421 Troutman St Brooklyn, NY, 11237'
          ,'946 McDonald Ave Brooklyn, NY, 11218', ]
locs_list=[]
# Geocode the address
k=0
for i in address:
    k+=1
    location = [geolocator.geocode(i)[-1]]
    if location == None:
        locs_list.append('not found')
    else:
        locs_list.append(location)
    print(k)
    #time.sleep(np.random.randint(1*100,2*100)/100)
# Print latitude and longitude
#print("Latitude:", location.latitude)
#print("Longitude:", location.longitude)
print(locs_list)

1
2
3
4
[[(40.71313022222222, -73.95759877777779)], [(40.66885593333333, -73.86880906666667)], [(40.70681178571429, -73.92248535714286)], [(40.63097965, -73.9774776471771)]]

In [970]:
df.full_address[28]

'283 Grand St Brooklyn, NY, 11211'

In [ ]:
locs_list

In [ ]:
import time

latitude_list, longitude_list = [], []
for addr in list(df.full_address):
    loc = geolocator.geocode(addr)  # Assuming you have a function to geocode with retry
    latitude_list.append(loc.latitude)
    longitude_list.append(loc.longitude)
    time.sleep(5)  # Wait for 5 seconds before the next iteration

print(latitude_list)
print(longitude_list)